/Main.class
/Breitensuche.class
/Tiefensuche.class
/IterativeDeepening.class
/SuchKnoten.class
/Nachfolger.class
/Hilfsfunktionen.class
/HeuristischeSuche.class
/HeuristikKnoten.class
/Comparator.class
/AgeComparator.class
/ComparatorHeuristik.class
/Knoten.class
/Perzeptron.class
/KNN.class
/KNearestNeighbour.class
/KNearestNeighbour$ValueComparator.class
/KNearestNeighbour$1.class
/ValueComparator.class
/KNN$Points.class
/KNN$Result.class
/KNN$DistComparator.class
